name: pytest:ubnt
on:
  push:
    branches: ['*', '*/*', '*/**', master]
    paths:
      - 'label_studio/**'
      - '!label_studio/frontend/**'
      - '.github/workflows/tests.yml'
      - 'deploy/requirements.txt'
      - 'deploy/requirements-mw.txt'
      - 'deploy/requirements-test.txt'
      - 'deploy/prebuild_wo_frontend.sh'

env:
  NODE: '14'

jobs:
  run_pytest_sqlite:
    name: LS SDK
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 3.7
          - 3.9

    steps:
      - uses: actions/checkout@v2.4.0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4.3.0
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/cache@v2.1.6
        name: Configure pip cache
        id: pip-cache
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('**/requirements.txt') }}-${{ hashFiles('**/requirements-test.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-${{ matrix.python-version }}-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          pip install -U pip==20.2
          pip install -r requirements.txt -r tests/requirements-test.txt
          pip install -e .

      - name: Run functional tests
        run: |
          cd tests/
          pytest --junitxml report.xml --cov=. -vv

